/*

LINK COLORS

*/

/* 
LIGHT - DARK
Minor change in class at end of this string for light and dark ... right after ROOT div
Light - sc-1fsvudc-0 sc-1hw3uqy-0 iyNBFd dLUgmi
Dark - sc-1fsvudc-0 sc-1hw3uqy-0 iyNBFd hQRhCs 
*/

/* Default link styles */
body .ProseMirror p a {
    font-weight: 400 !important; /* 500 is default */
	color: #2257da !important; /* NYtimes blue from my blog #00078e - removed -- Changed to AXIOS blue which is a pretty standard blue link color*/
    xtext-decoration: underline 2px #2257da; /* Removing this ... */
	xtext-underline-offset: 4px !important; /* Taken from Archbee */
    
}

/* Default link blue */
.dLUgmi p a {
    color: #2257da; /* Blue from Archeebee */
}
/* Dark link blue */
.hQRhCs .jCkula p a {
    xborder-bottom-color: #3183d8;
    text-decoration: underline 2px #3183d8;
}
