/*
ICONS
*/
/* ICON SVG */
.sc-tyaw0p-1 svg, /* Top icons in sidebar */
.sc-glkm6c-0 svg /* Main icons in sidebar */
{
    width: 17px;
    height: 17px;
}


/* ICON SVG */
.sc-tyaw0p-1.kwgVrc svg {
    margin-top: 2px !important;
    xmargin-left: 7px !important;
}
.eULMdd .sc-155oapf-2 {
    margin-top: 0px !important;
    margin-left: 7px !important;
    xbackground: red;
}
.kKzjdi {
    min-height: 20px;
}    


